<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <ExcludeByFile>**/Migrations/*.cs</ExcludeByFile>
          <ExcludeByFile>**/Exceptions/*.cs</ExcludeByFile>
          <ExcludeByFile>**/Entities/*.cs</ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
