<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Exclude>
            <Module>.*[\\/]Migrations[\\/].*</Module>
            <Module>.*Migrations.*</Module> <!-- Escludi tutti i moduli che contengono 'Migrations' -->
          </Exclude>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
